<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="endereco">
      <h2 data-cy="enderecoDetailsHeading"><span jhiTranslate="bd02App.endereco.detail.title">Endereco</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ endereco.id }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.cep">Cep</span></dt>
        <dd>
          <span>{{ endereco.cep }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.logradouro">Logradouro</span></dt>
        <dd>
          <span>{{ endereco.logradouro }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.complemento">Complemento</span></dt>
        <dd>
          <span>{{ endereco.complemento }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.numero">Numero</span></dt>
        <dd>
          <span>{{ endereco.numero }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.bairro">Bairro</span></dt>
        <dd>
          <span>{{ endereco.bairro }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.cidade">Cidade</span></dt>
        <dd>
          <span>{{ endereco.cidade }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.estado">Estado</span></dt>
        <dd>
          <span>{{ endereco.estado }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.criacao">Criacao</span></dt>
        <dd>
          <span>{{ endereco.criacao | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bd02App.endereco.usuario">Usuario</span></dt>
        <dd>
          <div *ngIf="endereco.usuario">
            <a [routerLink]="['/usuario', endereco.usuario?.id, 'view']">{{ endereco.usuario?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/endereco', endereco.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
