<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-compra-heading" data-cy="CompraCreateUpdateHeading" jhiTranslate="bd02App.compra.home.createOrEditLabel">
        Create or edit a Compra
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bd02App.compra.percentualDesconto" for="field_percentualDesconto"
            >Percentual Desconto</label
          >
          <input
            type="number"
            class="form-control"
            name="percentualDesconto"
            id="field_percentualDesconto"
            data-cy="percentualDesconto"
            formControlName="percentualDesconto"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bd02App.compra.valorFinal" for="field_valorFinal">Valor Final</label>
          <input
            type="number"
            class="form-control"
            name="valorFinal"
            id="field_valorFinal"
            data-cy="valorFinal"
            formControlName="valorFinal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bd02App.compra.dataCriacao" for="field_dataCriacao">Data Criacao</label>
          <div class="d-flex">
            <input
              id="field_dataCriacao"
              data-cy="dataCriacao"
              type="datetime-local"
              class="form-control"
              name="dataCriacao"
              formControlName="dataCriacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bd02App.compra.formaPagamento" for="field_formaPagamento">Forma Pagamento</label>
          <select
            class="form-control"
            name="formaPagamento"
            formControlName="formaPagamento"
            id="field_formaPagamento"
            data-cy="formaPagamento"
          >
            <option [ngValue]="null">{{ 'bd02App.Pagamento.null' | translate }}</option>
            <option *ngFor="let pagamento of pagamentoValues" [value]="pagamento">
              {{ 'bd02App.Pagamento.' + pagamento | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bd02App.compra.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'bd02App.EstadoTransacao.null' | translate }}</option>
            <option *ngFor="let estadoTransacao of estadoTransacaoValues" [value]="estadoTransacao">
              {{ 'bd02App.EstadoTransacao.' + estadoTransacao | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bd02App.compra.curso" for="field_curso">Curso</label>
          <select class="form-control" id="field_curso" data-cy="curso" name="curso" formControlName="curso">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="cursoOption.id === editForm.get('curso')!.value?.id ? editForm.get('curso')!.value : cursoOption"
              *ngFor="let cursoOption of cursosSharedCollection; trackBy: trackCursoById"
            >
              {{ cursoOption.titulo }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bd02App.compra.usuario" for="field_usuario">Usuario</label>
          <select class="form-control" id="field_usuario" data-cy="usuario" name="usuario" formControlName="usuario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('usuario')!.value?.id ? editForm.get('usuario')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
